<a href="https://colab.research.google.com/github/DigitalYogi/my-repo/blob/main/Assignment2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

In [2]:
# Get raw file from website
path = "/content/drive/MyDrive/workshop/iris.csv"
# Read the file data
df = pd.read_csv(path)
# Display the data
print(df)

     sepal.length  sepal.width  petal.length  petal.width    variety
0             5.1          3.5           1.4          0.2     Setosa
1             4.9          3.0           1.4          0.2     Setosa
2             4.7          3.2           1.3          0.2     Setosa
3             4.6          3.1           1.5          0.2     Setosa
4             5.0          3.6           1.4          0.2     Setosa
..            ...          ...           ...          ...        ...
145           6.7          3.0           5.2          2.3  Virginica
146           6.3          2.5           5.0          1.9  Virginica
147           6.5          3.0           5.2          2.0  Virginica
148           6.2          3.4           5.4          2.3  Virginica
149           5.9          3.0           5.1          1.8  Virginica

[150 rows x 5 columns]

In [3]:
# Show the first 5 rows
df.head()

   sepal.length  sepal.width  petal.length  petal.width variety
0           5.1          3.5           1.4          0.2  Setosa
1           4.9          3.0           1.4          0.2  Setosa
2           4.7          3.2           1.3          0.2  Setosa
3           4.6          3.1           1.5          0.2  Setosa
4           5.0          3.6           1.4          0.2  Setosa

In [6]:
# Show a statistical summary
print(df.describe())

       sepal.length  sepal.width  petal.length  petal.width
count    150.000000   150.000000    150.000000   150.000000
mean       5.843333     3.057333      3.758000     1.199333
std        0.828066     0.435866      1.765298     0.762238
min        4.300000     2.000000      1.000000     0.100000
25%        5.100000     2.800000      1.600000     0.300000
50%        5.800000     3.000000      4.350000     1.300000
75%        6.400000     3.300000      5.100000     1.800000
max        7.900000     4.400000      6.900000     2.500000

In [ ]:
# Print the first three rows of the dataset
print(df.head(3))

   sepal.length  sepal.width  petal.length  petal.width variety
0           5.1          3.5           1.4          0.2  Setosa
1           4.9          3.0           1.4          0.2  Setosa
2           4.7          3.2           1.3          0.2  Setosa

In [ ]:
# Print number of rows and columns of the dataset
print("Number of Rows: ", len(df))
print("Number of Columns: ", len(df.columns))

Number of Rows:  150
Number of Columns:  5

In [13]:
# Sort dataset based on petal.width value

df.sort_values(["petal.width"], axis=0, ascending=[True],  inplace=True)
print(df)

     sepal.length  sepal.width  petal.length  petal.width    variety
32            5.2          4.1           1.5          0.1     Setosa
13            4.3          3.0           1.1          0.1     Setosa
37            4.9          3.6           1.4          0.1     Setosa
9             4.9          3.1           1.5          0.1     Setosa
12            4.8          3.0           1.4          0.1     Setosa
..            ...          ...           ...          ...        ...
140           6.7          3.1           5.6          2.4  Virginica
114           5.8          2.8           5.1          2.4  Virginica
100           6.3          3.3           6.0          2.5  Virginica
144           6.7          3.3           5.7          2.5  Virginica
109           7.2          3.6           6.1          2.5  Virginica

[150 rows x 5 columns]

In [14]:
# Filter the data by this condition: variety = Versicolor

df = df.loc[df['variety'] == 'Versicolor']
print(df)

    sepal.length  sepal.width  petal.length  petal.width     variety
60           5.0          2.0           3.5          1.0  Versicolor
93           5.0          2.3           3.3          1.0  Versicolor
62           6.0          2.2           4.0          1.0  Versicolor
57           4.9          2.4           3.3          1.0  Versicolor
67           5.8          2.7           4.1          1.0  Versicolor
79           5.7          2.6           3.5          1.0  Versicolor
81           5.5          2.4           3.7          1.0  Versicolor
98           5.1          2.5           3.0          1.1  Versicolor
80           5.5          2.4           3.8          1.1  Versicolor
69           5.6          2.5           3.9          1.1  Versicolor
95           5.7          3.0           4.2          1.2  Versicolor
92           5.8          2.6           4.0          1.2  Versicolor
90           5.5          2.6           4.4          1.2  Versicolor
82           5.8          2.7           3.9          1.2  Versicolor
73           6.1          2.8           4.7          1.2  Versicolor
96           5.7          2.9           4.2          1.3  Versicolor
53           5.5          2.3           4.0          1.3  Versicolor
64           5.6          2.9           3.6          1.3  Versicolor
58           6.6          2.9           4.6          1.3  Versicolor
87           6.3          2.3           4.4          1.3  Versicolor
55           5.7          2.8           4.5          1.3  Versicolor
99           5.7          2.8           4.1          1.3  Versicolor
74           6.4          2.9           4.3          1.3  Versicolor
71           6.1          2.8           4.0          1.3  Versicolor
94           5.6          2.7           4.2          1.3  Versicolor
88           5.6          3.0           4.1          1.3  Versicolor
97           6.2          2.9           4.3          1.3  Versicolor
89           5.5          2.5           4.0          1.3  Versicolor
50           7.0          3.2           4.7          1.4  Versicolor
59           5.2          2.7           3.9          1.4  Versicolor
63           6.1          2.9           4.7          1.4  Versicolor
91           6.1          3.0           4.6          1.4  Versicolor
76           6.8          2.8           4.8          1.4  Versicolor
75           6.6          3.0           4.4          1.4  Versicolor
65           6.7          3.1           4.4          1.4  Versicolor
54           6.5          2.8           4.6          1.5  Versicolor
78           6.0          2.9           4.5          1.5  Versicolor
51           6.4          3.2           4.5          1.5  Versicolor
52           6.9          3.1           4.9          1.5  Versicolor
61           5.9          3.0           4.2          1.5  Versicolor
68           6.2          2.2           4.5          1.5  Versicolor
66           5.6          3.0           4.5          1.5  Versicolor
86           6.7          3.1           4.7          1.5  Versicolor
72           6.3          2.5           4.9          1.5  Versicolor
84           5.4          3.0           4.5          1.5  Versicolor
56           6.3          3.3           4.7          1.6  Versicolor
85           6.0          3.4           4.5          1.6  Versicolor
83           6.0          2.7           5.1          1.6  Versicolor
77           6.7          3.0           5.0          1.7  Versicolor
70           5.9          3.2           4.8          1.8  Versicolor

In [3]:
# Change variety = Setosa to variety = NewValue.  Can use replace() function

dfr = df.replace("Setosa", "NewValue")
print(dfr)

     sepal.length  sepal.width  petal.length  petal.width    variety
0             5.1          3.5           1.4          0.2   NewValue
1             4.9          3.0           1.4          0.2   NewValue
2             4.7          3.2           1.3          0.2   NewValue
3             4.6          3.1           1.5          0.2   NewValue
4             5.0          3.6           1.4          0.2   NewValue
..            ...          ...           ...          ...        ...
145           6.7          3.0           5.2          2.3  Virginica
146           6.3          2.5           5.0          1.9  Virginica
147           6.5          3.0           5.2          2.0  Virginica
148           6.2          3.4           5.4          2.3  Virginica
149           5.9          3.0           5.1          1.8  Virginica

[150 rows x 5 columns]